{% extends 'base.html' %}

{% block title %}About | {% endblock %}

{% block content %}
<h1 class="title">RareChems</h1>
<p> is a European-based supplier of research chemicals, analytical reference samples and other specialist chemical
    products. <strong>RareChems</strong> is a joint venture and collaboration of Scientific Innovation's Dutch team and
    Lizard Labs - two very established and respected organisations in the chemical space. With our forces united, we
    endeavour to offer a reliable and dependable one-stop shop for all RC sourcing needs at retail and semi-wholesale
    level. <strong>With over 10 years’ experience</strong> in this industry, we guarantee impeccable service and
    high-quality products at some of the lowest prices on the market.<br><br>As well as supplying many of the popular
    and well-known research chemicals, we also offer a collection of rare compounds for the true pioneers! We have made
    substantial investment in the research and development of new molecules and are actively working to provide
    customers with innovative and interesting products. We ship our products worldwide (with a few exceptions) and each
    batch is tested before being provided to our customers (see&nbsp;<a href="https://rarechems.com/content/7-analysis">here</a>
    for further analytical information).</p>
{% endblock %}