<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}RareChems</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
		<link rel="stylesheet" href="{% static 'main.css' %}">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>

	<body>
		<nav class="navbar is-dark " id="navbarapp">
			<a class href="/">
				<img class="navbar-brand" src="{% static 'img/logo.png' %}" alt="logo">
			</a>

				<a @click="toggleMenu()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>

			<div id="main-navbar" class="navbar-menu" :class="{ 'is-active': menuClass }">

				<div class="navbar-end">
					{% for category in menu_categories %}
						{% if not category.children.all %}
                        	<a href="{% url 'category_detail' category.slug %}" class="navbar-item">{{ category.title }}</a>
						{% else %}
							<div class="navbar-item has-dropdown is-hoverable">
								<a href="{% url 'category_detail' category.slug %}" class="navbar-link ">{{ category.title }}</a>

								<div class="navbar-dropdown">
									{% for subcategory in category.children.all %}
									<a href="{% url 'category_detail' subcategory.slug %}" class="navbar-item has-background-white-ter"><strong>{{ subcategory.title }}</strong></a>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
					<div class="navbar-item">
						<a href="{% url 'cart' %}" class="button is-primary"><b>Cart ([[ numItems ]])</b></a>
					</div>

					{% if request.user.is_authenticated %}
						<div class="navbar-item">
							<a href="{% url 'myaccount' %}" class="button is-outlined is-light">My account</a>
						</div>
					{% else %}
						<div class="navbar-item">
							<div class="buttons">
								<a href="{% url 'signup' %}" class="button is-primary is-outlined">Sign up</a>
								<a href="{% url 'login' %}" class="button is-info is-outlined">Log in</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</nav>

		<section class="section">
			{% block content %}
            {% endblock %}
		</section>

		{% include 'parts/newsletter.html' %}

		<footer class="footer has-text-primary-light">
			<div class="columns">
				<div class="column">
					<figure class="image is-128x128">
						<img src="{% static 'img/bitcoin.jpg' %}">
					</figure>
				</div>

				<div class="column">
					<a href="/contact/" class="navbar-item">Contact</a>
					<a href="/about_us/" class="navbar-item">About us</a>

				</div>
				<div class="column">
					<a href="/terms/" class="navbar-item">Terms & conditions</a>
					<a href="/payment/" class="navbar-item">Payment</a>
				</div>
				<div class="column">
				<a href="/shipping/" class="navbar-item">Shipping</a>
					<a href="/" class="navbar-item"><strong>RareChems</strong></a>
				</div>
			</div>
		</footer>

		<script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
		<script>
			var store = new Vuex.Store({
				state: {
					numItems: {{ cart.get_total_length }},
					totalCost: {{ cart.get_total_cost }}
				},
				mutations: {
					increment(state, quantity) {
						state.numItems += quantity;
					},
					changeTotalCost(state, newCost) {
						state.totalCost += newCost
					}
				}
			});

			var navbarapp = new Vue({
				el: '#navbarapp',
				delimiters: ['[[', ']]'],
				store: store,
				data () {
					return {
						menuClass: false
					}
				},
				computed: {
					numItems: function() {
						return store.state.numItems
					}
				},
				methods: {
					toggleMenu() {
						console.log('toggleMenu');

						this.menuClass = !this.menuClass;
					}
				}
			});
		</script>

		{% block scripts %}
		{% endblock %}
	</body>
</html>