{% extends 'base.html' %}

{% block title %}Shipping | {% endblock %}

{% block content %}

<h1 class="title">Shipping</h1>
<p>All orders are discretely packaged and shipped with no reference to RareChems or research chemicals with POST NL as carrier.</p>
<p></p>
<h4>General</h4>
<p>We ship daily from Monday to Friday within 24h.<br><strong>'Discreet shipping’</strong>&nbsp;is offered as our default and is not an additional service. Please do not ask for it.&nbsp;<strong>We do not offer tracked shipping to the US.</strong><br>The delivery times listed below are guidelines only as we have no influence over them.</p>
<p></p>
<h4 style="margin-top:40px;">Shipping fees and delivery time</h4>
<h4></h4>
<p>We offer free tracked shipping for all orders over EUR 300. Untracked shipping (no signature required) is available for all orders valued EUR 300 or less.&nbsp;Specific details for each service offered with average transit times are listed below.</p>
<p></p>
<p style="margin-top:40px;"><strong>Shipping fees, duration and details</strong> (remember, there is no tracked shipping for the US)</p>
<table class="table">
<tbody>
<tr style="font-weight:bold;">
<td>PostNL Domestic shipping (Netherlands)</td>
<td>Service</td>
<td>Shipping fee</td>
<td>Estimated shipping duration</td>
<td>Signature required</td>
<td>Tracking</td>
</tr>
<tr>
<td rowspan="2"></td>
<td>Domestic Mail</td>
<td>EUR 4</td>
<td>3-5 working days</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr>
<td>Domestic Registered Mail</td>
<td>EUR 10</td>
<td>3-5 working days</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr style="font-weight:bold;">
<td>PostNL International shipping (worldwide)</td>
<td>Service</td>
<td>Shipping fee</td>
<td>Estimated shipping duration</td>
<td>Signature required</td>
<td>Tracking</td>
</tr>
<tr>
<td rowspan="2">EU</td>
<td>International Mail</td>
<td>EUR 5</td>
<td>6-15 working days</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr>
<td>International Registered Mail</td>
<td>EUR 14</td>
<td>6-15 working days</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr>
<td rowspan="2">Overseas (US, Australia, Canada, etc.)</td>
<td>International Mail</td>
<td>EUR 5</td>
<td>15-30 working days</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr>
<td><abbr title="Excluding US">International Registered Mail</abbr></td>
<td>EUR 14</td>
<td>15-30 working days</td>
<td>YES</td>
<td>YES</td>
</tr>
<tr style="font-weight:bold;">
<td><del>NON-NL International shipping (worldwide)</del><br><span style="color:#FF0000;">UNAVAILABLE</span></td>
<td>Service</td>
<td>Shipping fee</td>
<td>Estimated shipping duration</td>
<td>Signature required</td>
<td>Tracking</td>
</tr>
<tr>
<td>EU</td>
<td>International Mail</td>
<td>EUR 20</td>
<td>10-20 working days</td>
<td>NO</td>
<td>NO</td>
</tr>
<tr>
<td>Overseas&nbsp;(US, Australia, Canada, etc.)</td>
<td>International Mail</td>
<td>EUR 20</td>
<td>20-35 working days</td>
<td>NO</td>
<td>NO</td>
</tr>
</tbody>
</table>
<p>Orders shipped as Registered Mail can be tracked with the following links at PostNL:</p>
<ul>
<li><a href="https://postnl.post" target="_blank" rel="nofollow noreferrer noopener">https://postnl.post</a></li>
<li><a href="https://www.internationalparceltracking.com/#/search" target="_blank" rel="nofollow noreferrer noopener">https://www.internationalparceltracking.com/#/search</a></li>
</ul>
<h4></h4>
<p></p>
<h4 style="margin-top:40px;">Replacements and returns</h4>
<p>We offer one free replacement shipping for tracked orders if the order is lost due to transit problems. Undelivered orders due to customs, tax, import duties or any other circumstances will not be reshipped. Orders to invalid addresses will not be reshipped.&nbsp;<strong>Untracked orders can not be reshipped under any circumstances. US orders can not be reshipped.</strong><br>We do not offer returns or exchanges. All orders are final.</p>
<h4></h4>
<h4 style="margin-top:40px;">Limitations</h4>
<p>We cannot guarantee same day dispatch. We ship worldwide with the exception of <strong>UK, Norway, Sweden, Denmark, Finland, Iceland and Austria</strong>. Other countries may have restrictions depending on the product. Collection in person can be considered for high value orders only (&gt;EUR 1000), please contact our support in advance.</p>

{% endblock %}